.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    background: rgb(60, 60, 60);
    color: #fff;
    position: relative;
    height: 50px;
    width: 150px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
}

button:hover {
    background: rgb(46, 46, 46);
}

button::before {
    content: "";
    position: absolute;
    background: rgb(29, 147, 250);
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: all 0.5s linear;
}

button:hover::before {
    width: 350px;
    height: 50px;
}

button::after {
    content: "Button";
    position: relative;
    z-index: 1;
}