.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 7px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fdf497;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-box {
    cursor: pointer;
}

.line-box:active > div {
    transform: scale(0.95);
}

.line-box:hover > div {
    background: lightblue;
}

.line-1,
.line-2,
.line-3 {
    width: 170px;
    height: 10px;
    background: #ffffff;
    margin: 20px;
    border-radius: 10px;
}

.line-1 {
    animation: line-1-animation-reverse .7s ease-in;
}

.line-2 {
    animation: line-2-animation-reverse .7s ease-in;
}

.line-3 {
    animation: line-3-animation-reverse .7s ease-in;
}

.line-1.active {
    animation: line-1-animation .7s ease-in forwards;
}

.line-2.active {
    animation: line-2-animation .7s ease-in forwards;
}

.line-3.active {
    animation: line-3-animation .7s ease-in forwards;
}

@keyframes line-1-animation {
    0% {
    }

    50% {
        transform: translate(0, 30px);
    }

    100% {
        transform: translate(0, 30px) rotate(45deg);
    }
}

@keyframes line-2-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes line-3-animation {
    0% {
    }

    50% {
        transform: translate(0, -30px) rotate(0);
    }

    100% {
        transform: translate(0, -30px) rotate(135deg);
    }
}

@keyframes line-1-animation-reverse {
    0% {
        transform: translate(0, 30px) rotate(45deg);
    }

    50% {
        transform: translate(0, 30px) rotate(0);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes line-2-animation-reverse {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes line-3-animation-reverse {
    0% {
        transform: translate(0, -30px) rotate(135deg);
    }

    50% {
        transform: translate(0, -30px) rotate(0);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}


